# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
api-sync-go

# Test
*.test
*.out

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build output
/bin/
/dist/

# Command output
cmd-output.txt
stress.py
